<h1>Search results</h1>

<div class="restaurant result">
  <% @offices.each_with_index do |office, key| %>
    <% provider = office.provider %>
    <h2><%= link_to office.name, place_path(provider, :q => @search.query) %></h2>
    <%= image_tag "/assets/icons/stars#{rand(4)+1}.png" %><br>
    <%= t 'Delivery' %>: <%= number_to_currency(rand(8)) %><br>
    <%= t 'Minimum' %>: <%= number_to_currency(0) %><br>
    <br>
	<% end %>
	<%= link_to 'See all places', places_path %>
</div>

<div>
    <%= render 'map' %>
</div>

<br>
<br>
