<%= form_for([:extranet, @extranet_item]) do |f| %>
  <% if @extranet_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@extranet_item.errors.count, "error") %> prohibited this extranet_item from being saved:</h2>

      <ul>
      <% @extranet_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
