<h1><%= t 'Welcome' %></h1>

<br />
<%= form_tag(search_results_path, :method => :get) do -%>
	<label>Where are you?</label>
	<%= search_field_tag 'address', nil, :class => 'span6', :placeholder => 'i.e. Kalithea Greece or Athens Greece' %>
	<label>What would you like?</label>
	<%= search_field_tag 'wish', nil, :class => 'span6', :placeholder => 'i.e. pizza, salads, cola' %>
  	<br />
  	<br />
	<%= submit_tag 'Search', :class => 'btn btn-primary btn-large', :name => nil %>
<% end -%>
