<h1>Listing providers</h1>
<br />
<table width="500px">
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @providers.each do |provider| %>
  <tr>
    <td><%= provider.name %></td>
    <td><%= provider.phone %></td>
    <td><%= provider.email %></td>
    <td><%= link_to 'Show', admin_provider_path(provider) %></td>
    <td><%= link_to 'Edit', edit_admin_provider_path(provider) %></td>
    <td><%= link_to 'Destroy', admin_provider_path(provider), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Provider', new_admin_provider_path %>
