<h1>Listing extranet_offices</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Address</th>
    <th>City</th>
    <th>Country code</th>
    <th>Longitude</th>
    <th>Latitude</th>
    <th>Phone</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @offices.each do |office| %>
  <tr>
    <td><%= office.name %></td>
    <td><%= office.description %></td>
    <td><%= office.address %></td>
    <td><%= office.city %></td>
    <td><%= office.country_code %></td>
    <td><%= office.longitude %></td>
    <td><%= office.latitude %></td>
    <td><%= office.phone %></td>
    <td><%= office.email %></td>
    <td><%= link_to 'Show', extranet_office_path(office) %></td>
    <td><%= link_to 'Edit', edit_extranet_office_path(office) %></td>
    <td><%= link_to 'Destroy', extranet_office_path(office), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Office', new_extranet_office_path %>
