<!DOCTYPE html>
<html>
  <head>
    <title>Extranet</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="flash">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
    </div>

    <header>
      <%= link_to 'Extranet home', extranet_path %> |
      <%= link_to 'Offices', extranet_offices_path %> |
      <%= link_to 'Menus', extranet_menus_path %> |
      <%= link_to 'Items', extranet_items_path %> |
      <%= link_to 'Ingredients', extranet_ingredients_path %>
    </header>

    <%= yield %>

    <br /><br />
    <footer>
      Order food online. &copy; <%= Time.now.strftime('%Y') %>
      <% if current_provider %>
        Logged in as: <strong><%= current_provider.email %></strong>. <%= link_to "Log Out", extranet_logout_path %>
      <% end %>
    </footer>

  </body>
</html>
