<!DOCTYPE html>
<html>
  <head>
    <title>Foodsearch</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="flash">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
    </div>

    <header>
      <%= link_to 'Homepage', root_path %>
      <br /><br />
      <% if current_user %>
        Logged in as <%= current_user.email %>.
        <%= link_to "Log Out", logout_path %>
      <% else %>
        <%= link_to "Sign Up", signup_path %> or
        <%= link_to "Log In", login_path %>
      <% end %>
    </header>

    <%= yield %>

    <br /><br />
    <footer>
      Order food online. &copy; <%= Time.now.strftime('%Y') %>
    </footer>

  </body>
</html>
