<!DOCTYPE html>
<html>
<head>
	<title>Order Food Online</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="flash">
		<% flash.each do |name, msg| %>
		<%= content_tag :div, t(msg), id: "flash_#{name}" %>
		<% end %>
	</div>

	<%= render 'layouts/header' %>

	<section class="container">
		<div class="row">
			<div class="span8">
				<%= yield %>
			</div>
			<div class="span4">
				<% if @order %>
				<div id="shopping_cart">
					<%= render 'order/order' %>
				</div>
				<% end %>
			</div>
		</div>
	</section>

	<footer id="footer" class="container">
		&copy; <%= Time.now.strftime('%Y') %> <%= t 'Order food online. All rights and lefts reserved.' %>
	</footer>
</body>
</html>
